/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.disabled {
  opacity: 0.3;
  margin-bottom: -200px;
}

.dropzone {
  background: white;
  border-radius: 5px;
  border: 2px dashed #E3E3E3;
  border-image: none;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; 
  /* width: 150px; */
}

.dz-image img {
  width: 100%;
}

.font-size-08 {
  font-size: 0.8em
}

.table-responsive {
  overflow-x: auto;
  overflow-y: hidden;
}

.table-mh-5 {
  max-height: 500px;
  overflow-y: auto;
}

.ck-editor__editable_inline {
  min-height: 264.33px;
  max-height: 264.33px;
}
